<#@ template language="C#" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>
using UnityEngine.UI;

namespace UnityUIPlayables
{
    public class <# Write(_bindingName); #>AnimationMixerBehaviour
        : AnimationMixerBehaviour<<# Write(_bindingName); #>, <# Write(_bindingName); #>AnimationMixer, <# Write(_bindingName); #>AnimationBehaviour>
    {
    }
}