<#@ template language="C#" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>
using System;

namespace UnityUIPlayables
{
    [Serializable]
    public class <# Write(_bindingName); #>AnimationClip : AnimationTimelineClip<<# Write(_bindingName); #>AnimationBehaviour>
    {
    }
}